# This file serves to tell Github which files it shall not take into account.
# We used it for two main reasons :
# Reason 1 : When we work on a project, there are some files that are automatically created by the computer or some softwares, some of them are useless or too big (= might cause some programme overload). Hence, we don't want to take them into account.
# !!!! PLEASE CHECK (c'est ce que vous m'avez dit, mais chatGPT ne valide pas) Reason 2 : When we had some stuggles with some parts of the code, we used it to isolate the probelm and enable the team to continue working 
 

# Files that are automatically created by python are not useful for the shared projects, hence we tell github to ignore them
__pycache__/
*.py[cod]
*$py.class

# Those files are created only when we are transforming code into app, they are temporary.
dist/
build/
*.egg-info/

# Those files contain the copys that python creates automatically for each team member on their computers. Those files are heavy and not useful for the running of the code.
venv/
env/
ENV/

# Those files can contain some important and confidential informations such as passwords, we hence ask Github to not publish it online
.env

# Those are the files containing AI models or other databases, they are heavy and we hence don't want to publish them.
*.pkl
*.csv
*.json
*.h5

# Those are some drafts that are useless to be shared.
.ipynb_checkpoints

# Those are some files that contains informations regarding each team member's preferences, useless for others
.idea/
.vscode/
*.swp
*.swo

# Those are the files automatically created by MacOS or Windows, useless for the project.
.DS_Store
Thumbs.db

# Contains the files that are temporary created while we are testing the app locally.
.streamlit/

# Those are the files with mistake reports, they helped us to adjust the bugs, it is not useful to share them.
*.log
